* {
  padding: 0;
  margin: 0;
}
#header {
  background-image: url(images/banner.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}
.navbar-nav li a {
  float: right;
  color: #fff !important;
}
.navbar-brand-logo {
  color: #fff !important;
  font-weight: 700;
  font-size: 40px !important;
}
.navbar-toggler {
  border: none !important;
  outline: none !important;
}
nav .fa-bars {
  color: #fff !important;
  font-size: 26px;
} 

/* -------------------- Welcome Text ------------------- */
.welcome {
  padding: 50px 100px;
  margin-top: -140px;
  background-color: #fff;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2)
}
.welcome h1 {
  color: #333;
}
.welcome .home-btn {
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #013f7e;
}
.welcome .btn:focus {
  box-shadow: none;
}